body{
	
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-family: 'Fjalla+One', serif;
	font-size: 20px;
	background:#DAE4EC;
     
}

.jumbotron{
	background: white;
	color:#2C74AB;
}